body {
    background-color: #8BA1BB;
    font-family: arial;
}

p.categorie {
    background-color : #000000;
    color : #FFFFFF;
    display: inline-block;
    padding: 8px 18px;
}
div.categorie{
    margin-top: 10px;
    margin-bottom: -35px;
    font-weight: bold;
    font-size: 16px;
}
div.contenu{
    background-color : white;
    margin : 0px 3% 5px 3%;
    padding : 10px;
    box-shadow:  0px 0px 20px #000000AA;
}
h1{
    text-align : center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}
p.description{
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}
.centre{
    text-align: center;
    width: 100%;
}
div.separateur{
    width: 100px;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}
div.info{
    position: relative;         
}
table.info{
    position: absolute;
    bottom: 0%;
    width: 100%;
    color: white;
    background-color: #6c829DC0;
    height: 40px;
}
table.info td{
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}
table.info th{
    text-align: center;
    font-size: 14px;
    vertical-align: bottom;
    padding-bottom: 8px;
    }

img.info{
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: lightgray;

}
div.colonne{
    width: 100%;
    margin-top: 20px;
}

.colonne h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom : 5px solid #6c829D;
    padding-bottom: 10px;
}
div.colonne1{
    display: inline-block;

}

.liste1 p{
    border: 1px solid lightgray;
    text-align: center;
    padding: 8px;
    margin: 5px;
    font-size: 14px;
}
table.preparation p.numero{
background-color: #6c829D;
color : white;
text-align: center;
height: 25px;
width: 25px;
font-size: 14px;
font-weight: bold;
padding-top: 5px;
box-sizing: border-box;
border-radius: 50%;
margin: 0;
}
table.preparation td{
    vertical-align: top;
}
td.preparation_etape{
padding-left: 10px;
font-size: 14px;
padding-bottom: 10px;
}
table.preparation tr{
    height: 40px ;
}
*{
    overflow: auto;
}

/* style pour ordinateur */

@media only screen and (min-width: 768px){
    div.contenu{
        min-width: 350px;
        margin : 0px 10% 50px 10%;
        padding : 30px;
    }
    div.categorie{
        margin-top: 50px;
        
    }
    table.info{
        height: 80px;}
    
    table.info th{
        font-size: 16px;
        }
    table.info td{
        font-size: 14px;
        }

    div.colonne1{
        margin-right: 10%;
    }
    
    div.colonne2{
        float: right;
    }
    div.colonne{
        width: 45%;
    }
}
@media only screen and (min-width: 900px){
    div.contenu{
        margin-left: auto;
        margin-right: auto;
        width: 500px;}
}